*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.bib.sav
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
workflow/
AD_HS20/
ANLIS_HS20/
DMATH_FS20/
MATH_FS20/